<!-- All Lists page -->

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path("https://res.cloudinary.com/dxojr5jr7/image/upload/v1621019630/Sam-Neill-in-the-Mouth-of-Madness_copy_hzwjun.jpg") %>);">
  <div class="container">
    <h1 id="header-text">All Lists</h1>
    <p id="header-subtext">What to watch next!</p>
  </div>
</div>

<br>

<div class="container">
  <div class="d-grid gap-2">
    <%= link_to "Add new list", new_list_path, class: "btn btn-secondary btn-lg" %>
  </div>

  <br>

  <ul class="list-inline">
    <% @lists.each do |list| %>
      <li class="my-5">
        <div class="card-category" style="max-width: 1000px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(list.photo.key) %>)">
          <%= link_to list.name, list_path(list), class: "text-white text-decoration-none" %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
