// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "banner";
@import "card";
@import "navbar";

body {
  background-color: #12121B;
}

#header-text {
  font-size: 64px;
  color: #ec8f5e;
}

#header-subtext {
  color: #ebe19d;
}
